# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @project-trans/chairs

# Theme Maintainer by @septs
/themes/2345lgbt @septs @project-trans/developers
