section.heading {
  display: flex;
  align-items: center;

  height: 4rem;
}

section.heading button.toggler {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1.25rem;
  padding: 0;

  cursor: pointer;

  border: none;
  background: url(icons/menu-toggle.svg) no-repeat;
  @media only screen and (min-width: 90rem) {
    display: none;
  }
}

section.heading nav.breadcrumbs {
  display: flex;
  align-items: center;
  flex: 1;
  span.slash {
    padding: 0 0.5rem;
  }

  a {
    font-size: 1.125rem;
    font-weight: 700;

    text-decoration: none;
  }

  a.brand {
    display: inline-block;
    vertical-align: middle;
  }

  a:not(.brand) {
    line-height: 1.2;

    color: $link-inactive;
  }
}

section.heading a.improve {
  line-height: 1.125;

  display: block;

  padding: 0.5em 1em;

  text-decoration: none;

  color: #fff;
  border-radius: 6.25em;
  background: #333;
  &::before {
    display: inline-block;

    width: 1em;
    height: 1em;
    margin-right: 0.5em;

    content: url(icons/github.svg);
    vertical-align: middle;
  }
  @media only screen and (max-width: 37.5rem) {
    display: none;
  }
}
