$padding-right: 2.2em;
$padding: 0.5em;

.translations {
  font-size: 0.875rem;

  position: relative;

  width: 13em;

  &.active {
    nav {
      display: flex;
    }
    button {
      border-bottom-color: transparent;
    }
  }
}

.translations nav {
  position: absolute;
  top: calc(100% + 8px);

  display: none;
  flex-direction: column;

  width: 100%;
  padding: $padding $padding 0 $padding-right;

  border: $padding-1 solid #79747e;
  border-radius: 1em;
  background: #fff;
  a {
    line-height: 1.5;

    text-decoration: none;
    white-space: nowrap;

    color: $link-inactive;

    &[data-active='true'] {
      color: $link-active;
    }
  }
}

.translations button {
  line-height: 2.25;

  position: relative;

  width: 100%;
  padding: 0 $padding 0 $padding-right;

  text-align: left;

  color: #49454f;
  border: $padding-translations solid transparent;
  // The lower three rows realize the gradient border, reference https://segmentfault.com/a/1190000040794056
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(to right, #fff, #fff), linear-gradient(135deg, #e4a8ca 20%, #2d8afb 20%);
  //gravity uses the color of the logo using hard side gradients at the same angle
  border-radius: 1em;
  cursor: pointer;

  &::before {
    position: absolute;
    left: 1em;

    display: inline-block;

    width: 1em;
    height: 100%;

    content: '';

    background: url(icons/global.svg) no-repeat center;
  }
}

@media (max-width: 768px) {
  .translations {
    width: fit-content;
  }
}

@media (max-width: 768px) {
  .translations nav {
    padding: 1em 1em;
    min-width: fit-content;
    right: 0;
  }
}
