$padding-right: 2.2em;
$padding: 0.5em;

.translations {
  font-size: 0.875rem;

  position: relative;

  width: 11em;

  &.active {
    nav {
      display: flex;
    }
    button {
      cursor: pointer;

      border-bottom-color: transparent;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.translations nav {
  position: absolute;
  top: 100%;

  display: none;
  flex-direction: column;

  width: 100%;
  padding: $padding $padding 0 $padding-right;

  border: $padding-1 solid #79747e;
  border-top: none;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  background: #fff;
  a {
    line-height: 1.5;

    text-decoration: none;

    color: $link-inactive;

    &[data-active='true'] {
      color: $link-active;
    }
  }
}

.translations button {
  line-height: 2.25;

  position: relative;

  width: 100%;
  padding: 0 $padding 0 $padding-right;

  text-align: left;

  color: #49454f;
  border: $padding-1 solid #79747e;
  border-radius: 1em;
  background: transparent;
  &::before {
    position: absolute;
    left: 1em;

    display: inline-block;

    width: 1em;
    height: 100%;

    content: '';

    background: url(icons/global.svg) no-repeat center;
  }
}
