$padding-right: 2.2em;
$padding: 0.5em;

.translations {
  font-size: 0.875rem;

  position: relative;

  width: 13em;

  &.active {
    nav {
      display: flex;
    }
    button {
      cursor: pointer;

      border-bottom-color: transparent;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.translations nav {
  position: absolute;
  top: 100%;

  display: none;
  flex-direction: column;

  width: 100%;
  padding: $padding $padding 0 $padding-right;

  border: $padding-1 solid #79747e;
  border-top: none;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  background: #fff;
  a {
    line-height: 1.5;

    text-decoration: none;

    color: $link-inactive;

    &[data-active='true'] {
      color: $link-active;
    }
  }
}

.translations button {
  line-height: 2.25;

  position: relative;

  width: 100%;
  padding: 0 $padding 0 $padding-right;

  text-align: left;

  color: #49454f;
  //border: $padding-1 solid #79747e; //因为$padding-1参数(themes/2345lgbt/assets/_variables.scss)同时控制着主要部分卡片的边框粗细, 所以此处无法使用
  border: $padding-translations solid transparent; //0.1875是0.0625(也就是2024Feb18的$padding-1值)的三倍
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(to right, #fff, #fff), linear-gradient(135deg, #E4A8CA 20%, #2D8AFB 20%); //渐变的颜色使用了logo的颜色 相同的角度 硬边渐变 还好我是学数字媒体的
  // 上方四行实现了渐变, 参考https://segmentfault.com/a/1190000040794056
  border-radius: 1em;
  background: transparent;
  &::before {
    position: absolute;
    left: 1em;

    display: inline-block;

    width: 1em;
    height: 100%;

    content: '';

    background: url(icons/global.svg) no-repeat center;
  }
}
