> .tags {
  display: flex;
  flex-wrap: wrap;

  gap: 0.75em;

  button {
    line-height: 2.25;

    width: fit-content;
    padding: 0 0.875em;

    cursor: pointer;

    color: $link-inactive;
    border: none;
    border-radius: $border-radius;

    &.active {
      color: #fff;
      background-color: $link-active;
    }
  }
}
