p {
  margin: 0.375rem 0;
  &.slogan {
    font-size: 1.125rem;
    line-height: 1.15;

    display: table-cell;

    vertical-align: middle;
  }
  &.last-modified {
    font-size: 0.75rem;
    line-height: 1.5;
  }
}

section.copyright {
  font-size: 0.825rem;
  line-height: 1.5;

  margin-top: 2.25rem;

  color: #79747e;
  p {
    margin: 0;
    &:not(:first-child) {
      margin-top: 1.5rem;
    }
  }
  a {
    text-decoration: none;

    color: $link-active;
  }
}

a.improve {
  position: relative;

  @media only screen and (min-width: 37.5rem) {
    position: absolute;
    top: 0.75rem;
    right: 1.5rem;
  }

  line-height: 1.125;

  display: block;

  padding: 0.5em 1em;

  text-decoration: none;

  color: #fff;
  border-radius: 6.25em;
  background: #333;
  &::before {
    display: inline-block;

    width: 1em;
    height: 1em;
    margin-right: 0.5em;

    content: url(icons/github.svg);
    vertical-align: middle;
  }
  @media only screen and (max-width: 37.5rem) {
    display: none;
  }
}
